extends layout

block content
  h1= title
  p Welcome to #{title}
  p Please click the button below to create a new admin.
  a(href="/admin/") Admin
  br
  br
  a(href="/admin/create") Create a new admin
